$theme-color : #0290ff;
$light-theme-color : #4dabf3;
$accent-color : #cccaca;
$dark-grey: #868b8e;
$edit-color: #85e260;
$formInputs-margin: 30px;

#root {
  height: 100vh;
  overflow: hidden;
}

.booksContainer {
  width: 100%;
  height: 55%;
  overflow: auto;
  margin: 80px 0 20px 0;
}

.horizontalSeparator {
  display: block;
  background-color: $accent-color;
  height: 3px;
  margin: 0 100px;
  -webkit-border-radius: 25%;
  -moz-border-radius: 25%;
  -ms-border-radius: 25%;
  -o-border-radius: 25%;
  border-radius: 25%;
}

.addBookContainer {
  margin: 0 100px;

  .header {
    font-size: 1.6rem;
    text-transform: uppercase;
    color: $dark-grey;
  }

  form {
    display: flex;
    justify-content: flex-start;

    input {
      background-color: white;
      border: 1px solid $accent-color;
      color: $dark-grey;
      width: 300px;
      margin-right: $formInputs-margin;
      height: 2rem;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      border-radius: 4px;
    }

    select {
      width: 150px;
      margin-right: $formInputs-margin;
      background-color: white;
      border: 1px solid $accent-color;
      border-radius: 4px;
    }

    .submitBtn {
      text-transform: uppercase;
      background-color: $theme-color;
      color: white;
      width: 150px;
      margin-right: $formInputs-margin;
      border: none;
      border-radius: 4px;
    }
  }
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80px;
  text-align: center;
  background-color: white;

  p {
    margin: 10px;
    font-size: 1.2rem;
    padding: 10px;

    a {
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 768px) {
  #root {
    height: auto;
    width: 100vw;
    overflow: hidden;
  }

  .footer {
    position: relative;
  }
}

@media screen and (max-width: 920px) {
  form > * {
    margin: 0 5px;
  }
}
