@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@400;700&family=Ubuntu:wght@400;700&display=swap');

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  position: relative;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../src/img/circles-light.png');
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
