$theme-color : #50a0dd;
$accent-color : #929294;
$dark-grey: #868b8e;

.bookInfoContanier {
  display: flex;
  padding: 20px;
  border: 1px solid;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: white;

  .info {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin-right: 100px;

    .category {
      color: $dark-grey;
      margin: 0 0 4px 0;
    }

    .title {
      margin: 0;
    }

    .author {
      color: $theme-color;
      margin: 0 0 10px 0;
    }

    .creButtons {
      flex: 1;
      display: flex;

      button {
        background-color: transparent;
        align-self: flex-end;
        border: none;
        color: $theme-color;
        cursor: pointer;
        padding: 0 10px 0 0;
      }

      button:hover {
        transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
      }

      button:active {
        color: red;
      }
    }
  }

  .progress {
    display: flex;
    flex-flow: row;

    .progressPercent {
      margin-left: 10px;
      padding-top: 10px;

      p {
        margin: 0;
      }

      .percentage {
        font-size: 2rem;
      }

      .completed {
        color: $dark-grey;
      }
    }
  }

  .verticalSeparator {
    background-color: $accent-color;
    margin: 0 50px;
    width: 2px;
    height: 100px;
  }

  .chapterContainer {

  }
}
