$theme-color : #0290ff;
$light-theme-color : #4dabf3;
$accent-color : #929294;
$dark-grey: #868b8e;
$edit-color: #85e260;

.bookInfoContainer {
  display: flex;
  padding: 20px;
  margin: 0 100px 20px 100px;
  border: 1px solid #d6dadd;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background-color: white;

  .info {
    display: flex;
    flex-flow: column;
    flex: 1;
    margin-right: 100px;

    .category {
      color: $dark-grey;
      margin: 0 0 4px 0;
    }

    .title {
      margin: 0;
      font-size: 1.7rem;
    }

    .author {
      color: $light-theme-color;
      margin: 0 0 10px 0;
      font-size: 1.05rem;
    }

    .creButtons {
      flex: 1;
      display: flex;

      .btnSeparator {
        width: 1px;
        background-color: $accent-color;
        margin: 0 15px;
      }

      button {
        background-color: transparent;
        align-self: flex-end;
        border: none;
        color: $light-theme-color;
        cursor: pointer;
        font-size: 1.1rem;
        padding: 0;
      }

      button:hover {
        -webkit-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -ms-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
      }

      .remove:active {
        color: red;
      }

      .comments:active,
      .edit:active {
        color: #074472;
      }
    }
  }

  .progress {
    display: flex;
    flex-flow: row;
    align-items: center;

    .progressPercent {
      margin-left: 10px;

      p {
        margin: 0;
      }

      .percentage {
        font-size: 2rem;
      }

      .completed {
        color: $dark-grey;
      }
    }
  }

  .verticalSeparator {
    background-color: $accent-color;
    margin: 0 50px 0 150px;
    width: 2px;
    height: 100px;
  }

  .chapterContainer {
    margin: 7px 60px 0 0;

    .currentChapter {
      margin: 0;
      color: $dark-grey;
      font-size: 1.2rem;
    }

    .chapterName {
      margin-top: 0;
    }

    .btnProgress {
      border: none;
      background-color: $theme-color;
      color: white;
      padding: 10px;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      -ms-border-radius: 3px;
      -o-border-radius: 3px;
      border-radius: 3px;
    }

    .btnProgress:hover {
      background-color: $light-theme-color;
    }

    .btnProgress:active {
      background-color: $edit-color;
      color: $dark-grey;
    }
  }
}
